/*

Created Date: 25-12-2018;
Last Modified Date: 25-12-2018;
Author Name: Adnan Zaheer;
Depended Page: index.html;
*/
body{
	background-color: #e1e8f0;
	font-family: 'Raleway';
} 
#div_main{
	margin: auto;
	border: solid 3px green;
	margin-top: 2%;
	padding: 1.5%;
	width: 70%;
}
#h3_main{
	/*align: center;*/
}
legend, label{
	font-weight: bold;
}
#chkbox{
	margin-top: 20px;
}